.body{
    margin: 0;
    padding: 0;
}
header{
    display:flex;
    color: white;
    background: #d33a2c;
     
}
.main-menu ul{
    list-style-type: none;
}
.main-menu li{
    text-decoration: none;
    color: white;
}
.search input{
    width: 250px;
    padding: 4px;
    border: 0;
    color: white;
  
    
}
.grid-container{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 800px 800px;
    background: turquoise;
}
.grid-item1{
    background: #333;
}