@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Spinnaker&display=swap');

.body{
    margin: 0;
    padding: 0;
}
.navigation{
    display:flex;
    color: white;
    background: #d33a2c;
    justify-content: space-around;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    height:100px;
   
}
.logo img{
 height: 90px;
     
}
.menu-section ul{
    list-style-type: none; 
    
}
.menu-section li{
 display: inline;
  
}
.menu-section a {
    text-decoration: none;
    color: white;
}
.menu-section button:hover{
    background:#912f27; 

}
.menu-section button{
    border:none;
    border-radius: 10px;
    padding:10px 20px 10px 20px;
    background:#d33a2c;
    font-family: 'Kaushan Script', cursive;
    font-size: 15px;
}
.section-menu__search input{
  margin: 10px;
  padding: 20px;
  color: white;
  border-radius: 10px;
  border: none;
  width: 300px;
  font-family: 'Kaushan Script', cursive;
 }
 .heading-primary{
    position:absolute;
    text-align: center;
    margin-left: 490px;
    margin-right: 50px;
        /* z-index: 999; */
    background-color: white;
    font-family: 'Spinnaker', sans-serif;

 }
 
 .grid-container{
     display: grid;
     grid-template-rows:500px 500px;
     grid-template-columns:auto auto;
  }
 .grid-box1{
    background-color: #bc3428;
    
 }
 .section-header__author figure{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: 'Kaushan Script', cursive;
    color: white;
    padding-top: 100px;
  }
 .img-box{
    width: 60px;
    height: 60px;
    border: 2px solid white;
    margin-right: 20px;
    border-radius: 10px;
    transform:rotate(-30deg)
}
.img-box:hover{
    transform:rotate(0deg);
}
.heading-secondary{
    font-family: 'Kaushan Script', cursive;
    color: white;
    font-size: 30px; 
    padding: 10px;
    
}
.section-header__comments{
    font-size: 15px;
}
.section-header__hashtag li{
    display: inline;
    text-decoration: none;
    font-family: 'Kaushan Script', cursive;
    color: white;
    font-size: 20px;
}
.section-header__hashtag ul{
    list-style-type: none;  
}
 .grid-box2{
     background-color: #c7372a;
 }
 .grid-box3{
     background-color:  #b13125;
 }
 .grid-box4{
    background-color:  #bc3428;
}
.section-header__arrow {
    margin-left: 10px;
    width:50px;
}
.blue{
    background-color: rgb(0, 0, 46);
    font-family: 'Kaushan Script', cursive;
    color: oldlace;
    font-size: 25px; 
   
}
.fast{
  position: absolute;
  left: 40px;
  width: 600px;
  padding: 50px;
  
}
.cartoon{
    margin-left: 65%;
    margin-bottom: 50px;
    margin-right: 10px;
    border-style:dotted;
    position: relative;
    transform:rotate(-20deg)
   
}
.cartoon:hover{
    transform:rotate(0deg);
}
.b {
    width:400px;
    height: 50px;
    background-color: olivedrab;
    border-style: none;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    color: whitesmoke;
    border-radius: 10px;

}
.b:hover{
    background-color: rgb(117, 172, 8);
}
.first-articles{
    padding: 30px;
    display: grid;
    grid-template-columns:auto auto auto;
    background-color: whitesmoke;
    grid-column-gap: 30px;
    font-family: 'Lato', sans-serif;
}
.article1{
    border: 1px hidden white;
}

.article1:hover{
    transform: scale(1.1);  
}
.article-item__author a{
    color: black;

}

.footer{
    background-color: #c7372a;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.footer h2{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 40px 0;   
  font-family:'Kaushan Script', cursive;
  color: aliceblue;
}
.footer ul{
  text-align: center;
  line-height: 3;
  font-family: 'Lato', sans-serif;
  margin-bottom: 30px;
}
.footer li {
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  padding-right: 5px;
  
}
footer li::before {
    content: " • ";
    color: white;
  }
.footer a{
    text-decoration: none;
    color:white;
    font-weight: 350;
}
.footer a:hover{
   color: thistle;
}